extends layout
block content
  h1= title
  if(toShow==null)
   h2 no instance found 
  else
    - let soapsid = toShow._id
    - let Soap_Name = toShow.Soap_Name
    - let Soap_cost = toShow.Soap_cost
    - let Soap_Color = toShow.Soap_Color
    div
        div.row
            div(class='soapsAttr mr-3') soaps ID is:
            div #{soapsid}
        div.row
            div(class='soapsAttr mr-3') soaps_Name is:
            div #{Soap_Name}
        div.row
            div(class='soapsAttr mr-3') soap cost is:
            div #{Soap_cost}
        div.row
            div(class='soapsAttr mr-3') soap color is:
            div #{Soap_Color}